* {
	color: #ccc !important;
}

body {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
						url(../public/bg_grayscale.jpg);
	background-size: cover;
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
	height: 50px;
	text-align: center;
}

footer p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content {
	min-height: calc(100vh - 50px);	
}

.transparent {
	background-color: transparent;
}
