<!DOCTYPE html>
<head>
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>

    <video id="videoElement"></video>
    <script>
        if (flvjs.isSupported()) {
            videoElement = document.getElementById('videoElement');
            flvPlayer = flvjs.createPlayer({
                type: 'flv',
                isLive: true,
                url: 'ws://localhost:8000/live/<%= streamKey %>.flv'
            });
            flvPlayer.attachMediaElement(window.videoElement);
            flvPlayer.load();
            flvPlayer.play();
        }
    </script>
</head>
<body>
</body>
</html>
